@model IEnumerable<pdtcc_doc_academy.Models.Usuario>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.emailUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senhaUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.emailUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senhaUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idUsuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idUsuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
