@model pdtcc_doc_academy.Models.Escola

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom">
            <a class="navbar-brand mx-auto" href="#">
                <i class="fas fa-school" style="color: white;"></i>
                <span class="ms-auto" style="color: white; padding: 2rem;">DocAcademy</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto links">
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Index", "Escolas")>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Escolas" asp-action="VerProtocolos">Ver Protocolo</a>
                    </li>
                    <li class="nav-item">
                        <form asp-controller="Autenticacao" asp -action="Logout" method="post">
                            <button type="submit" class="btn btn-link nav-link">Sair da conta</button>
                        </form>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("CreateAluno", "Alunos")">Cadastrar Aluno</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("CadastrarFuncionario", "Funcionarios")">Cadastrar Funcionario</a></li>
                    <li class="nav-item"><a class="anv-link" href="@Url.Action("ListarAlunos", "Escolas")">Listar Alunos</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="dashboard">
                <div class="welcome-message">
                    <h1>Bem-vindo ao Portal Acadêmico!</h1>
                </div>
                <p>Informações da escola logada:</p>
                <div>
                    <strong>Nome da Escola:</strong> @Model.nomeEscola <br />
                    <strong>Email:</strong> @Model.emailEscola <br />
                    <strong>Endereço:</strong> @Model.enderecoEscola <br />
                </div>
            </div>
        </div>