@model IEnumerable<pdtcc_doc_academy.Models.Escola>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Cadastrar Escola</a>
    <a asp-action="CreateAluno" asp-controller="Alunos">Cadastrar Aluno</a>
    <a href="@Url.Action("VerProtocolos", "Escolas")">Ver Protocolos</a>
    <a href="@Url.Action("Create", "Curso")"> criar </a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeEscola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enderecoEscola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailEscola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senhaEscola)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeEscola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enderecoEscola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailEscola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senhaEscola)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idEscola">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idEscola">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idEscola">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
