@model IEnumerable<pdtcc_doc_academy.Models.Alunos>

@{
    ViewData["Title"] = "Lista de Alunos";
}
<link href="~/css/style-requiriments-users.css" rel="stylesheet" />
<script src="~/js/main-requirements-users.js"></script>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom">
        <a class="navbar-brand mx-auto" href="#">
            <span class="ms-auto" style="color: white; padding: 2rem;">DocAcademy</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto links">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Escolas")" style="font-weight: bold;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("VerProtocolos", "Escolas")" style="font-weight: bold;">Ver Documentos</a>
                </li>
                <li class="nav-item">
                    <form id="cadastroForm" action="#" method="get" class="nav-link">
                        <select name="cadastro" id="cadastroSelect" class="form-select bg-dark text-white border-0 nav-link" onchange="location = this.value;">
                            <option value="" disabled selected>Novo Usuário</option>
                            <option value="@Url.Action("CreateAluno", "Alunos")">Cadastrar Aluno</option>
                            <option value="@Url.Action("CadastrarFuncionario", "Funcionarios")">Cadastrar Funcionário</option>
                        </select>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ListarAlunos", "Escolas")" style="font-weight: bold;">Ver Alunos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Create", "Curso")" style="font-weight: bold;">Novo Curso</a>
                </li>
                <li class="nav-item">
                    <form asp-controller="Autenticacao" asp-action="Logout" method="post" class="nav-item">
                        <button type="submit" class="btn nav-link" style="font-weight: bold; background-color: red !important;">Sair do Perfil</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
    <br>    
<h1>Lista de Alunos</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>RG</th>
            <th>RM</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var aluno in Model)
        {
            <tr>
                <td>@aluno.idAluno</td>
                <td>@aluno.nomeAluno</td>
                <td>@aluno.cpfAluno</td>
                <td>@aluno.rgAluno</td>
                <td>@aluno.rmAluno</td>
                <td>@aluno.emailAluno</td>
                <td>
                    <a asp-action="EditAluno" asp-controller="Escolas" asp-route-id="@aluno.idAluno" class="btn btn-primary">Editar</a>
                    <form asp-action="DeleteAluno" asp-route-id="@aluno.idAluno" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este aluno?');">Excluir</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>