@model IEnumerable<pdtcc_doc_academy.Models.Protocolo>
<link href="~/css/style-verprotc.css" rel="stylesheet" />
<link href="~/css/style-requiriments-users.css" rel="stylesheet" />
<script src="~/js/main-requirements-users.js"></script>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom">
            <a class="navbar-brand mx-auto" href="#">
                <i class="fas fa-school" style="color: white;"></i>
                <span class="ms-auto" style="color: white; padding: 2rem;">DocAcademy</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto links">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Escolas")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Escolas" asp-action="VerProtocolos">Ver Protocolo</a>
                    </li>
                    <li class="nav-item">
                        <form id="cadastroForm" action="#" method="get" class="nav-item">
                            <select name="cadastro" id="cadastroSelect" class="form-select bg-dark text-white border-0" onchange="location = this.value;">
                                <option value="" disabled selected>Selecionar Cadastro</option>
                                <option value="@Url.Action("CreateAluno", "Alunos")">Cadastrar Aluno</option>
                                <option value="@Url.Action("CadastrarFuncionario", "Funcionarios")">Cadastrar Funcionário</option>
                            </select>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form asp-controller="Autenticacao" asp-action="Logout" method="post" class="nav-item">
                            <button type="submit" class="btn btn-link nav-link">Sair</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container mt-4">
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo de Documento</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        foreach (var protocolo in Model)
                        {
                            <tr>
                                <td>@protocolo.idProtocolo</td>
                                <td>@protocolo.tipo_Doc</td>
                                <td>
                                    <a asp-controller="Protocolos" asp-action="DownloadPdf" asp-route-idProcolo="@protocolo.idProtocolo" class="btn btn-primary">Baixar PDF</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">Nenhum protocolo encontrado.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</body>
