@model IEnumerable<pdtcc_doc_academy.Models.Alunos>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/style-requiriments-users.css" rel="stylesheet" />
<script src="~/js/main-requirements-users.js"></script>
<header>
    <nav class="navbar navbar-expand-lg bg-dark rounded-bottom">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <i class="fas fa-school" style="color: white; margin-right: 8px;"></i>
                <span style="color: white;">DocAcademy</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto links">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Alunos")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Create", "Protocolos")">Solicitar documentos</a>
                    </li>
                    <li class="nav-item">
                        <form asp-controller="Autenticacao" asp-action="Logout" method="post" class="nav-item">
                            <button type="submit" class="btn btn-link nav-link">Sair da Conta</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="container mt-5">
    <div class="text-center welcome-message">
        <h1 class="display-4">Bem-vindo, @Html.DisplayNameFor(model => model.nomeAluno)!</h1>
        <p class="lead">Informações do aluno</p>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>RM</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                    <td>@Html.DisplayFor(model => model.nomeAluno)</td>
                        <td>@Html.DisplayFor(model => model.emailAluno)</td>
                        <td>@Html.DisplayFor(model => model.rmAluno)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
            