
@model IEnumerable<pdtcc_doc_academy.Models.Protocolo>
<link href="~/css/style-protocolo-aluno.css" rel="stylesheet" />
<link href="~/css/style-requiriments-users.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg bg-dark rounded-bottom">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <i class="fas fa-school" style="color: white; margin-right: 8px;"></i>
            <span style="color: white;">DocAcademy</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav m-auto links">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Alunos")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Create", "Protocolos")">Solicitar documentos</a>
                </li>
                <li class="nav-item">
                    <form asp-controller="Autenticacao" asp-action="Logout" method="post" class="nav-item">
                        <button type="submit" class="btn btn-link nav-link">Sair</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <main>
        <div class="container mt-4">
            <h1>Minhas Requisições</h1>
            <!-- Formulário para selecionar o tipo de documento -->
            <form asp-controller="Protocolos" asp-action="CreateProtocolo" method="post">
                <div class="form-group">
                    <label for="selectedOption">Selecione o Tipo de Documento:</label>
                    <select id="selectedOption" name="selectedOption" class="form-control">
                        <option value="1">Atestado de Matrícula</option>
                        <option value="2">Autorização</option>
                        <option value="3">Comunicado</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Requisitar</button>
            </form>


@*             ----Em desenvolvimento----- *@

@*             <div class="card-container mt-4">
                @foreach (var document in Model)
                {
                    <div class="card">
                        <img src="../img/images.jpg" class="img-thumbnail w-25" alt="Requerimento">
                        <div class="card-body">
                            <h5 class="card-title">@document.tipo_Doc</h5>
                            <a asp-controller="Protocolos" asp-action="DownloadPdf" asp-route-idProcolo="@document.idProtocolo" class="btn btn-primary">Baixar PDF</a>
                            <button class="btn btn-danger">Excluir Documento</button>
                        </div>
                    </div>
                }
            </div> *@


            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo de Documento</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        foreach (var protocolo in Model)
                        {
                            <tr>
                                <td>@protocolo.idProtocolo</td>
                                <td>@protocolo.tipo_Doc</td>
                                <td>
                                    <a asp-controller="Protocolos" asp-action="DownloadPdf" asp-route-idProcolo="@protocolo.idProtocolo" class="btn btn-primary">Baixar PDF</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">Nenhum protocolo encontrado para este aluno.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
    