@model IEnumerable<pdtcc_doc_academy.Models.Protocolo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tipo_Doc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_Doc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aluno.emailAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.funcionario.email_func)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idProtocolo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idProtocolo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idProtocolo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
