@{
    ViewData["Title"] = "Requisitar Documento";
}
<link href="~/css/style-requiriments-users.css" rel="stylesheet" />
<script src="~/js/main-requirements-users.js"></script>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark rounded-bottom">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <i class="fas fa-school" style="color: white;"></i>
                    <span style="color: white;">DocAcademy</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav m-auto links">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Funcionarios")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("RequerimentosFuncionario", "Protocolos")">Requerimentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("VerProtocoloFunc", "Funcionarios")">Acessar Protocolos</a>
                        </li>
                        <li class="nav-item">
                            <form asp-controller="Autenticacao" asp-action="Logout" method="post" class="nav-item">
                                <button type="submit" class="btn btn-link nav-link">Sair</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <body>
        <div class="container mt-4 dashboard">
            <div class="welcome-message">
                <h1>@ViewData["Title"]</h1>
            </div>
            <form asp-action="RequerimentosFuncionario" method="post">
                <div class="form-group">
                    <label for="selectedOption">Selecione o Tipo de Documento:</label>
                    <select id="selectedOption" name="selectedOption" class="form-control">
                        <option value="1">Atestado de Matrícula</option>
                        <option value="2">Autorização</option>
                        <option value="3">Comunicado</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="alunoSelect">Escolha um aluno:</label>
                    <select id="alunoSelect" name="idAluno" class="form-control">
                        @foreach (var aluno in ViewBag.Alunos)
                        {
                            <option value="@aluno.idAluno">@aluno.nomeAluno</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Requisitar</button>
            </form>
        </div>
    </body>
