@model pdtcc_doc_academy.Models.Funcionario

@{
    ViewData["Title"] = "Dashboard - Funcionários";
}
<link href="~/css/style-requiriments-users.css" rel="stylesheet" />
<script src="~/js/main-requirements-users.js"></script>
<header>
    <nav class="navbar navbar-expand-lg bg-dark rounded-bottom">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <i class="fas fa-school" style="color: white;"></i>
                <span style="color: white;">DocAcademy</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto links">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Funcionarios")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("RequerimentosFuncionario", "Protocolos")">Requerimentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("VerProtocoloFunc", "Funcionarios")">Acessar Protocolos</a>
                    </li>
                    <li class="nav-item">
                        <form asp-controller="Autenticacao" asp-action="Logout" method="post" class="nav-item">
                            <button type="submit" class="btn btn-link nav-link">Sair</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container mt-5 welcome-section">
        <h1 class="display-5">Lista de Funcionários</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Escola</th>
                </tr>
            </thead>
            <tbody>
                   <tr>
                     <td>@Model.idFuncionario</td>
                     <td>@Model.nome_func</td>
                     <td>@Model.email_func</td>
                     <td>@Model.escola</td>
                   </tr>
            </tbody>
        </table>
    </div>
</main>