@model IEnumerable<pdtcc_doc_academy.Models.Protocolo>
<link href="~/css/style-verprotc.css" rel="stylesheet" />
<link href="~/css/style-requiriments-users.css" rel="stylesheet" />
<script src="~/js/main-requirements-users.js"></script>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-dark rounded-bottom">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <i class="fas fa-school" style="color: white;"></i>
                <span style="color: white;">DocAcademy</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto links">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Funcionarios")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("RequerimentosFuncionario", "Protocolos")">Requerimentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("VerProtocoloFunc", "Funcionarios")">Acessar Protocolos</a>
                    </li>
                    <li class="nav-item">
                        <form asp-controller="Autenticacao" asp-action="Logout" method="post" class="nav-item">
                            <button type="submit" class="btn btn-link nav-link">Sair</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <main>
        <div class="container mt-4">
            <table class="table mt-4" style="background-color: white;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo de Documento</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        foreach (var protocolo in Model)
                        {
                            <tr>
                                <td>@protocolo.idProtocolo</td>
                                <td>@protocolo.tipo_Doc</td>
                                <td>
                                    <a asp-controller="Protocolos" asp-action="DownloadPdf" asp-route-idProcolo="@protocolo.idProtocolo" class="btn btn-primary">Baixar PDF</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">Nenhum protocolo encontrado.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</body>
