@model pdtcc_doc_academy.Models.AlunoAutorizacao

@{
    ViewData["Title"] = "Download de Autorização";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3>Informações do Aluno</h3>
    <p><strong>ID do Aluno:</strong> @Model.idAluno</p>
    <p><strong>Nome:</strong> @Model.nomeAluno</p>
    <p><strong>CPF:</strong> @Model.cpfAluno</p>
    <p><strong>RG:</strong> @Model.rgAluno</p>
    <p><strong>RM:</strong> @Model.rmAluno</p>
</div>

<div>
    <h3>Informações da Autorização</h3>
    <p><strong>ID da Autorização:</strong> @Model.idAutorizacao</p>
    <p><strong>Data da Autorização:</strong> @Model.data_aut?.ToString("dd/MM/yyyy") ?? "N/A"</p>
</div>

<div>
    <a asp-controller="Autorizacao" asp-action="DownloadPdf/{@Model.idAluno}" class="btn btn-primary">
        Baixar PDF
    </a>
</div>